---
import type { HTMLAttributes } from 'astro/types';
interface BaseProps {
  title: string;
  image?: {
    src: string;
    alt: string;
  };
  imageLayout?: 'top' | 'background';
}

type Props =
  | (BaseProps & HTMLAttributes<'a'> & { href: string })
  | (BaseProps & HTMLAttributes<'div'> & { href?: never });

const {
  title,
  image,
  href,
  class: className = '',
  imageLayout = 'top',
  ...rest
} = Astro.props;

const Element = href ? 'a' : 'div';
---

<Element
  href={href}
  aria-label={href ? title : undefined}
  {...rest}
  class:list={[
    'card group overflow-hidden',
    { relative: imageLayout === 'background' },
    className,
  ]}
>
  {
    image && (
      <div
        class:list={[
          'overflow-hidden',
          { 'absolute inset-0': imageLayout === 'background' },
        ]}
      >
        <img
          src={image.src}
          alt={image.alt}
          class:list={[
            'w-full object-cover transition-transform group-hover:scale-105',
            {
              'h-full': imageLayout === 'background',
              'h-auto': imageLayout === 'top',
            },
          ]}
        />
      </div>
    )
  }

  <div class:list={['p-5', { relative: imageLayout === 'background' }]}>
    <h3 class='mb-2 text-xl font-bold'>{title}</h3>
    <div class='text-gray-700'>
      <slot />
    </div>
  </div>
</Element>
